@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.big-image {
    height: 100vh;
    width: 100vw;
    height: 80vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("./guide.jpg");
}

.sub1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.sub1 h1 {
    font-size: 65px;
    letter-spacing: 0px;
    margin: 0 0 50px;
}

.sub1 p {
    margin: 0;
    font-size: 28px;
    margin: 0 0 50px;
}